body {
  color: wheat;
  background-color: rgb(26, 24, 18);
  font-family: monospace;
  font-size: large;
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: violet;
}

.hidden-link {
  color: wheat;
  text-decoration: none;
}
