body {
  color: wheat;
  background-color: rgb(26, 24, 18);
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  margin: 1%;
  padding: 0%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: violet;
}
hr.solid {
  border-top: 50px solid #bbb;
}

.container {
  margin: 0%;
  padding: 0%;
}
.hidden-link {
  color: wheat;
  text-decoration: none;
}
.hidden-link:hover {
  background-color: transparent;
}
.center {
  text-align: center;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#rotate_image_90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}